<div class="ui left fixed vertical inverted labeled icon menu">
    {{#link-to "index" class="header item"}}<i class="home icon"></i> MTG : Grimoire {{/link-to}}
     {{#link-to "cards" class="item"}}<i class="search icon"></i> Cards{{/link-to}}
</div>

<div id="main">
    {{outlet}}
</div>