<div class="ui left fixed vertical inverted menu">
    {{#link-to "index" class="header item"}}MTG : Grimoire{{/link-to}} 
    {{#link-to "cards" class="item"}}Cards{{/link-to}}
</div>

<div id="main">
    {{outlet}}
</div>